<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <div th:replace="/layout/header :: header"></div>
  <!-- jquery cdn -->
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
    //버튼 스타일
    .btn {
      border: none;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
    }

    .login {background-color: #FE642E; color:white; }
    .login:hover {background-color:#FBF2EF; color:black;}
</style>
</head>
<body>
<div class="container-sm" style="width:500px; margin-top:100px; border:1px solid #DCDCDC; padding:60px;">
  <div style="text-align:center">
    <img src="/img/book_logo.png" width="200px" height="150px">
  </div>
  <br><br><br>
  <h2>Login</h2>
  <br>
  <form action="/user/login" method="post">
    <div class="mb-3">
      <label for="join-email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="join-email" placeholder="Enter email" name="email" onkeyup="emailCheck()">
      <p class="email-content"></p>
    </div>
    <div class="mb-3">
      <label for="pwd1" class="form-label">Password:</label>
      <input class="form-control" id="pwd1" placeholder="Enter Password" type="password" name="password"></div>
    <br>
    <button class="btn login" onclick="loginReq()">Login</button>
  </form>
</div>
</body>
<br><br><br><br>
<script th:inline="javascript">
  const emailCheck = () => {

  }
</script>
<!-- footer-->
<th:block th:replace="/layout/footer :: footer">
</th:block>
</html>