<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Manage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  <style>
    .btn {
      border: none;
      padding: 14px 28px;
      font-size: 16px;
    }
    .delete {background-color: black; color: white;}
  </style>
</head>
<body>
<br><br>
<div class="container mt-3" style="text-align: left;">
  <h2>회원 목록</h2>
  <hr>
  <br>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>id</th>
      <th>username</th>
      <th>email</th>
      <th>password</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${userList}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.password}"></td>
      <td>
        <button class="btn delete"  th:onclick="deleteReq([[${user.id}]])">삭제</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn return" onclick="ReturnReq()">돌아가기</button>
</div>
</body>
<script th:inline="javascript">
  const ReturnReq = () => {
    location.href="/";
  }
  const deleteReq = (id) => {
    if(confirm("회원을 삭제하시겠습니까?") == true){
      console.log("삭제 요청");
      location.href="/user/delete/"+ id;
    }else{
      return false;
    }
  }


</script>
</html>